.slider {
  width: 500px;
  height: 350px;
  margin: 0 auto;
  text-align: center;
  padding-top: 115px;
  padding-bottom: 10%;
  overflow: hidden; /* prevents the other images from appearing */
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
